{% extends 'base.html' %} {%block content%}
<!-- about section starts  -->
{% load static %}
<section class="about">
  <div class="content">
    <h3>About Us</h3>
    <p>
      Welcome to our price comparison website for shop1 and shop2! Our goal is to help you 
      find the best deals and prices for products across these two popular online marketplaces.
    </p>
    <p>
      This is a simple mini project created by Student of Btech Information Technology "Lokeshvari and Dharshini" for reducing customers
      valuable time and give best affordable products for them.
    </p>
      <p>
        We are committed to providing our users with the best possible experience and helping you save money 
        on your online shopping. Thank you for choosing our website as your go-to destination for price 
        comparison between shop1 and shop2.
      </p>
  </div>
</section>
{%endblock content%}
<!-- about section ends -->
